.list{
    width: 90%;
    height: auto;
  
    margin-left: 5%;
    margin-right: 5%;
    
}
.list table{
    width: 100%;
    height: auto;
    font-size: calc(0.2em + 1vw);
    border: 1px solid black;
}

.list thead{
    border: 1px solid rgba(0, 0, 0, 0.096);
    width: 100%;
    background-color: rgb(143, 96, 187);
    color: white;
}


.list tbody{
    border: 1px solid rgba(0, 0, 0, 0.096);
    width: 100%;
    transition: 0.5s ;
}
.list tbody tr{
   
    transition: 0.5s ;
    
}


.list tbody tr:hover{
    transform: scale(1.03);
    background-color: rgb(209, 199, 255);
    cursor: pointer;
}

.list tbody tr:active{
    transform: scale(1);
}




.fa-plus,
.fa-check{
    transition: 0.2s ease-in-out;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 100%;
    padding-top: 5px;
    transition: 0.5s ;
    border: 1px solid rgba(0, 0, 0, 0);
}


.fa-plus:hover{
    border: 1px solid rgba(0, 0, 0, 0.452);
    border-radius: 100%;
}
.fa-plus:active{
    transform: scale(0.8);
}

.fa-check{
 transform: scale(0.8);
}