.modal-model-Login-box-ground {
    display: flex;
 
    padding-top: 5%;
    border-radius: 20px;
    animation-name: op-modal-login;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    transition: 0.3s;
    position: relative;
    z-index: -3 !important;
    width: 99%;
    height: 100%;
    position: absolute;

   
}

@keyframes  op-modal-login{
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;

    }
  }

  
.modal-model-container-LG{
  position: absolute;
  width: 300px;
  top: 100%;
  right: 2%;
  flex-direction: column;
  height: 290px;
  border: 1px solid rgba(0, 0, 0, 0.192);
  border-radius: 20px;
  gap: 20px;

  display: flex;
}
.modal-model-section1 h1{
  font-size: calc(0.7em + 1vw);
}

.modal-model-section1 {
  height: 10%;
  width: 100%;
}

.modal-model-section2{
  display: flex;
  height: 70%;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;

}

