:root {
  --blanco: #fff;
  --primary-color: #6e39cb;
  --secondary-color: #9d66fd;
  --menu: #f2f2f2;
}

.carts {
  font-size: calc(0.3em + 1vw);
  height: auto;
  padding: 2%;
  box-shadow: 10px 3px 8px rgba(43, 43, 43, 0.212);
  position: relative;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.carts img {
  width: 100%;
  height: 210px;
  border-radius: 20px;
}

.carts h3 {
  width: 100%;
  font-size: calc(0.2em + 0.7vw) !important;
  text-align: left;
  overflow-wrap: break-word;
}

.carts p {
  width: 100%;
  font-size: calc(0.2em + 0.5vw) !important;
  text-align: left;
}

.carts .price {
  color: #6e39cb;
}

.continer-but {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
}

.btn-cart {
  background-color: var(--secondary-color);
  color: var(--blanco);
  border: none;
  padding: 10px 20px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(0.2em + 0.5vw);
  width: 95%;
  box-shadow: 0px 3px 8px rgba(43, 43, 43, 0.575);
  box-sizing: border-box;
  transition: background-color 0.4s;
}

.btn-cart i {
  margin-right: 8px;
}

.btn-cart:hover {
  background-color: var(--primary-color);
  transition: background-color 0.4s ease;
}