.header {
  display: flex;
  align-items: center;
  padding: 16px;
  gap: 20%;
  border-bottom: 1px solid #e0e0e0;
  width: 100%;
  height: 100px;
  position: relative;
  transition: 0.4s;

  
}

.logo {
  width: 15%;
  height: 100%;
  display: flex;
  align-items: center;
}

.logo-img {
  margin-left: 80px;
  height: 40px;
}

.search-bar {
  width: 60%;
  height: 60%;
  display: flex;
  align-items: center;
  position: relative;
}

.search-bar input {
  width: 100%;
  height: 100%;
  padding: 8px 40px 8px 16px; 
  border: 1px solid #e0e0e0;
  border-radius: 15px;
  outline: none;
  transition: border 0.3s, color 0.3s;
}

.search-icon {
  position: absolute;
  right: 10px; 
  color: #e0e0e0;
  font-size: 16px;
  transition: color 0.3s; 
}

.search-bar input.focused {
  border-color: #9d66fd;
  color: #000 !important;

}

.search-icon.focused-icon {
  color: #9d66fd; 
}


.icons {
  height: 100%;
  width: 20%;
  display: flex;
  align-items: center;
  margin-left: 16px;
}

.icon-btn {
  background: none;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  transition: color 0.3s;
}

.icon {
  font-size: 16px;
  color: #000;
}

.icon-btn:hover .icon {
  color: #9d66fd;
  transition: color 0.3s;
}

.icon-btn:active .icon {
  transform: scale(1.1);
  transition: transform 0.1s;
}

.icon-btn.focused .icon {
  color: #9d66fd;
}

.user-btn {
  margin-left: 12px;
  margin-right: 50px;
}

/* Para responsive */
.menu-btn {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 16px;
}

@media (max-width: 768px) {
  .search-bar,
  .icons {
    display: none;
  }

  .menu-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
  }

  .search-bar.open,
  .icons.open {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
    padding-top: 12px;
    justify-content: center;
  }

  .header {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
  }

  .logo {
    margin-left: 0;
  }

  .logo-img {
    margin-left: 0;
  }

  .icon {
    font-size: 24px;
  }
  .modal-model-container-LG{
    background-color: white;
    width: 100% !important;
    z-index: 2000 !important;
  }

  .modal-model-section1 h1{
    font-size: calc(1em + 1vw);
  }

  .modal-model-container-LG .btn-redirect{
    width: 90%;
    text-align: center;
    font-size: calc(0.7em + 1vw);
  }








}

.modal-model-Login-box-ground {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5%;
  border-radius: 20px;
}

.modal-verifier-edit {
  position: absolute;
  z-index: 1000;
}

.modal-model-container-lg {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.068),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.281);
  border-radius: 20px;
}

.modal-model-section1 {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10%;
  gap: 5%;
  background-color: #ffffff69;
}

.modal-model-section1 h1 {
  font-size: calc(1em + 1vw);
  margin-bottom: 12px;
}

.modal-model-box-input-user {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  padding-left: 10%;
  justify-content: center;
  padding-right: 10%;
  gap: 10px;
}

.modal-model-box-input-pass {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100px;
  justify-content: center;
  padding-left: 10%;
  padding-right: 10%;
  gap: 10px;
}

.modal-model-section1 input {
  height: 50px;
  border-radius: 10px;
  border: none;
  padding-left: 5%;
}

.modal-model-but-ing-auth {
  padding: 2%;
  width: 60%;
  border-radius: 12px;
  border: none;
  font-size: calc(0.5em + 1vw);
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.068),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.075);
  background-color: #6a67ff52;
  transition: 0.5s;
  margin-top: 5%;
}

.modal-model-but-ing-auth:hover {
  background-color: #b3b1ffbb;
}

.modal-model-but-ing-auth:active {
  transform: scale(1.02);
}

.modal-model-section1 p {
  font-size: calc(0.5em + 0.7vw);
  margin-top: 5%;
}

.modal-model-section1 a {
  font-size: calc(0.5em + 1vw);
  margin-top: 5%;
  margin-bottom: 12%;
}


