.AdminCase{
    width: 100%;
    height: 100%;
}

.container{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: start;

}

.containerSectionInfo{
    display: flex;
    flex-direction: column;
    width: 100%;
}