:root {
  --blanco: #fff;
  --primary-color: #6e39cb;
  --secondary-color: #9d66fd;
  --menu: #f2f2f2;
}

.title {
  margin-left: 12px;
}

.btn-filter {
  background-color: var(--secondary-color);
}

.btn-filter:hover {
  transition: background-color 0.4s;
  background-color: var(--primary-color);
}

.btn-show {
  background-color: var(--secondary-color);
}

.btn-show:hover {
  transition: background-color 0.4s;
  background-color: var(--primary-color);
}

