.nav-admin{
    width: 20%;
    height: 80vh;
    border-radius: 0px 20px 20px 0px;
    padding-top: 3.5%;
    padding-bottom: 3.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10%;
    box-shadow: 2px 2px 8px 5px rgba(0, 0, 0, 0.048);
    margin-top: 2%;
    transition: 0.5s;
    /* */

}
.open-modal-nav{
    transform: translateX(0px); 
}
.close-modal-nav{
    transform: translateX(-400px); 
}




.nav-admin .Logo{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    }
    .nav-admin .Logo .image{
        width: 200px;
        height: 120px;
    
        
        }

    .nav-admin .Logo img{
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center center;
    }

.actions-but-admin{
    height: 60%;
    width: 100%;
    flex-direction: column;
    gap: 20px;
    justify-content: space-around;
    display: flex;
}

.btn-logout{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.btnOptionAdmin{

    display: flex;
    width: 100%;
    height: 40%;
    justify-content: center;
}
.btn-logout .buttonsAdmin{
    background-color: brown;
    color: white;
}

.btn-logout .buttonsAdmin:hover{
    background-color: rgb(104, 20, 20);
    color: white;
}



@media (max-width: 1040px) {
    .nav-admin{
        width: 15%;
        align-items: center;
        padding: 0px;
    }
    .btnOptionAdmin p{
        display: none;
    }
    .btnOptionAdmin i{
       text-align: center;
    }
    .btn-logout .buttonsAdmin p{
        display: none;
    }





}
